---
layout: default
---

<div class="container">
  <div class="headerSpace"></div>
  <div class="row">
    <div class="postHead">최신 글</div>
  </div>
  <div class="row">
    {% if site.posts.size == 0 %}
    <div class="postMain">
      <p>아직 작성된 글이 없습니다</p>
    </div>
    {% endif %}
    {% for post in site.posts limit : 5 %}
    <article class="post-preview">
      <div class="post-meta">
        {{ post.date | date: '%Y년 %m월 %d일' }} &middot; {% include read_time.html content=post.content %}            
      </div>
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h2 class="post-title">{{ post.title }}</h2>
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
      </a>
    </article>
    {% endfor %}
  </div>
  <div class="clearfix">
    <div style="margin-top: 25px"></div>
    <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">모든 아티클 보기 &rarr;</a>
  </div>
</div>